# intellij ignores
.idea/
*/.idea/

# Scala ignores
/project/boot/
/project/plugins/project
target/
lib_managed/
src_managed/
test-output/

# OS Junk
.DS_Store

#editors
*~
*\#

# P4Merge artifacts
*.orig
